<suite name="Test Automation Framework Suite" verbose="1" parallel="methods" thread-count="2">
	<test name="Test Automation Framework Test">
		<!-- <packages>
			<package name="com.test.automation.framework.*" />		
		</packages> -->
		<classes>
		    <class name="com.test.automation.framework.pagemodel.GoogleTest">
		     
		     </class>
	 	 </classes>
		
	</test>
</suite>
